.App {
  display: flex;
  justify-content: center;
}

.App-header {
 
  width: 70vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;

}

.my-form > input{
  font-size: 1.2rem;
  margin-bottom: 20px;
  height: 30px;
  background-color: black;
  color: white;
  border:none;
  border-bottom: 1px solid white;
}
.my-form button{
  height: 35px;
  width: 10rem;
  font-size: 1.2rem;
}